html
{
   background: url('https://wallpapercave.com/wp/wp1860529.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  min-width: 1024px;
  background-color: black;
}

.person_image
{
   float: right;
   height: 200px;
   width:150px;
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 315px;
  margin-down: 150px;
  background-attachment: fixed;
}

.header
{
    background-color:  #282828;
}

[class~=day-box]
{
   border:5px solid DeepSkyBlue;
   padding: 20px;
   border-radius: 10px;
   width: 480px;
   margin: 10px;
   background-color:  #282828;
}

iframe
{
   height: 480px;
   width: 480px;
}
   

.account_form
{
   border:5px solid DeepSkyBlue;
   padding: 20px;
   border-radius: 10px;
   width: 460px;
   margin: 10px;
   float: left;
   background-color:  #282828;
}

form *
{
 text-align: left;
 display: block
}

td
{
   border: 2px solid DeepSkyBlue;
   background-color: #282828;
}
   
   

*
{
   color: OrangeRed;
   font-family: "Courier New", Courier, monospace;
}

a:link 
{
  color: Gold;
  text-decoration: none;
  font-weight: bold;
}

a:visited 
{
 color: RoyalBlue;
 text-decoration: none;
 font-weight: bold;
}

a:hover
{
   text-decoration: underline;
   font-weight: bold;
}

.prompt
{
   border:5px solid DeepSkyBlue;
   padding: 20px;
   border-radius: 10px;
   width: 480px;
   margin: 10px;
   background-color:  #282828;
}



  
