html
{
   background: url('https://wallpapercave.com/wp/wp1860529.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  min-width: 1024px;
}

.person_image
{
   float: right;
   height: 200px;
   width:150px;
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 315px;
  margin-down: 150px;
  background-attachment: fixed;
}

.header
{
    background-color: snow;
  opacity: 0.75;
  filter: Alpha(opacity=75);
}

[class~=day-box]
{
   border:5px solid DeepSkyBlue;
   padding: 20px;
   border-radius: 10px;
   color: OrangeRed;
   font-family: 'Iceland', cursive;
   width: 480px;
   margin: 10px;
   background-color: snow;
   opacity: 0.75;
   filter: Alpha(opacity=75);
}

.account_form
{
   border:5px solid DeepSkyBlue;
   padding: 20px;
   border-radius: 10px;
   color: OrangeRed;
   font-family: 'Iceland', cursive;
   width: 480px;
   margin: 10px;
   float: left;
   background-color: snow;
   opacity: 0.75;
   filter: Alpha(opacity=75);

*
{
   color: orangered;
}

a:link {
  color: gold;
}


a:visited {
  color: royalblue;
}   
  
