body
{
   background: url('https://wallpapercave.com/wp/wp1860529.jpg');
}
."day-box PREP" , ."day-box CURRENT" , ."day-box COMPLETED"
{
   border:5px solid black;
   padding: 20px;
   border-radius: 10px;
}
      
  
